<!DOCTYPE html>
<html lang="pt-BR">
    
<head>
    <meta charset="UTF-8">
    <title>Buscar sessão</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>Buscar sessão</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <label>Digite o ID:</label>
            <input type="number" name="id">

            <button type="submit">Buscar sessão</button>

        </form>

        {% if sessao %}
            <p>ID: {{ sessao.id }}</p>
            <p>Energia:  {{ sessao.energia }} kWh</p>
            <p>Tempo: {{ sessao.tempo }} min</p>
            <p>Custo:  {{ sessao.custo }} R$</p>
        {% endif %}


        <div>
            <a href="/">
                <button>Voltar ao menu</button>
            </a>

        </div>
    </div>

    
</body>
</html>