<!DOCTYPE html>
<html lang="pt-BR>
<head>

    <meta charset="UTF-8">
    <title>Estatísticas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="container">

        <h1>Estatísticas</h1>

        <p> {{mensagem}} </p>

        <p>Total de sessões: {{ sessoes|length }}</p>
        <p>Total de energia:  {{ total_energia }} kWh</p>
        <p>Total de custo:  {{ custo_total }} R$</p>
        <p>Custo medio:  {{ custo_medio }} R$</p>
        <p>Maior consumo:  {{ maior_consumo }} kWh</p>
        <p>Menor consumo:  {{ menor_consumo }} kWh</p>


        <a href="/">
            <button>Voltar ao menu</button>
        </a>

    </div>


    
</body>
</html>