<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <title>Estatísticas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="container">

        <h1>Estatísticas</h1>

        <p> {{mensagem}} </p>

        <p>Total de sessões: {{ total_sessoes }}</p>
        <p>Total de energia: {{ total_energia|round(2) }} kWh</p>
        <p>Total de custo: R$ {{ custo_total|round(2) }}</p>
        <p>Custo médio: R$ {{ custo_medio|round(2) }}</p>
        <p>Maior consumo: {{ maior_consumo|round(2) }} kWh</p>
        <p>Menor consumo: {{ menor_consumo|round(2) }} kWh</p>


        <a href="/">
            <button>Voltar ao menu</button>
        </a>

    </div>


    
</body>
</html>