<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Estação de Recarga</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>ESTAÇÃO DE RECARGA</h1>

        <div class="menu">

            <a href="/nova-sessao">
                <button>Nova sessão de recarga</button>
            </a>

            <a href="/listar-sessoes">
                <button>Listar sessões</button>
            </a>
            
            <a href="/buscar-sessao">
                <button>Buscar sessão</button>
            </a>
            <button>Ordenar sessões</button>
            <button>Estatísticas</button>

        </div>

    </div>

</body>

</html>