<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Listar Sessões</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Sessões cadastradas</h1>
        
        <p> {{mensagem}} </p>

        <p>Total de sessões: {{ sessoes|length }}</p>


        {% for sessao in sessoes %}

        <div class="sessao">

            <p>ID: {{ sessao.id }}</p>
            <p>Energia: {{ sessao.energia }} kWh</p>
            <p>Tempo: {{ sessao.tempo }} min</p>
            <p>Custo: {{ sessao.custo }} R$</p>

        </div>

        {% endfor %}

        <a href="/">
            <button>Voltar ao menu</button>
        </a>

    </div>

</body>

</html>