<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Listar Sessões</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Sessões cadastradas</h1>
        
        <p> {{mensagem}} </p>

        <p>Total de sessões: {{ sessoes|length }}</p>


        {% for sessao in sessoes %}

        <div class="sessao">

            <p>Placa: {{ sessao.placa }}</p>
            {% if sessao.bateria_inicial is not none %}
            <p>Bateria: {{ sessao.bateria_inicial }}% → {{ sessao.bateria_final }}%</p>
            {% endif %}
            <p>Energia: {{ sessao.energia }} kWh</p>
            <p>Tempo carregando: {{ "%02d:%02d:%02d"|format(sessao.tempo_segundos // 3600, (sessao.tempo_segundos % 3600) // 60, sessao.tempo_segundos % 60) }} (hh:mm:ss)</p>
            <p>Potência média: {{ sessao.potencia_media_kw }} kW</p>
            <p>Custo: R$ {{ sessao.custo }}</p>
            <p>Status: {{ sessao.status }}</p>

        </div>

        {% endfor %}

            <a href="/admin">
            <button>Voltar à área do ADM</button>
        </a>

    </div>

</body>

</html>
